*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;
}
body{
    color:white;
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    background:rosybrown;
    padding: 10px;
}
.container
{
    width:100%;
    max-width:700px;
    padding:10px 20px;
    border-radius:25px;
    background-color: brown;
}
.container .heading
{
    font-size:25px;
    font-weight:500;
    position:relative;
    text-align:center;
    padding:0 0 20px 0;
}
.container .heading::before
{
    content:'';
    position:absolute;
    height:3px;
    left:0;
    width:100%;
    bottom:0;
    background:linear-gradient(135deg, #71b7e6,#9b5b)
}
.container form .card-details
{
    margin-top:25px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
form .card-details .card-box
{
    margin-bottom: 15px;
}
.card-details .card-box .details
{
    display:block;
    margin-bottom :5px;
}
form .button
{
    text-align:center;
}
form .button .input
{
    padding:10px 0;
    height:100%;
    width:50%;
    
}
